{% extends 'base.html.twig' %}

{% block title %}'Home'{% endblock %}

{% block body %}

    <div><h1> Hélène FOURCADE</h1></div>
    <div><h2> Baby Web Developer</h2></div>
    <div><h2> A propos...</h2></div>
    <div>
        <p>Après des années en protection de l'enfance, riches en joies et en enseignements, j'ai eu le sentiment d'avoir fait le tour de la question.</p>
        <p>J'ai fait le choix d'une reconversion professionnelle à 180° dans le développement web.<p/>
        <p>En effet ce secteur est en perpétuelle évolution et nécessite une veille technologique et un apprentissage en continu que je trouve particulièrement stimulants.</p>
        <p>J'ai un intérêt plus prononcé pour le back-end et suis à la recherche d'un premier poste de Développeuse Junior PHP | Symfony afin de monter en compétences.</p>
        <p>Je suis ouverte à une proposition de stage de 2 à 4 mois, préalable ou non à l'embauche.</p>
        <p>Disponible dès avril 2023.</p>
    </div>
    <img src="{{ asset('build/images/Photo CV 2021.jpg') }}" alt=" Photo H.FOURCADE " class="resized-img">

{% endblock %}
