<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Formation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Expérience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Compétences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Projets</a>
    </li>
</ul>